*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none; }

body {
  font: 18px Roboto, Arial, sans-serif;
  background: #fff;
  color: #212121; }

a {
  display: block;
  color: #212121;
  text-decoration: none;
  cursor: pointer; }

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1170px; }

.header {
  position: sticky;
  top: 0;
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  background: #fff;
  border-bottom: 4px solid #880028;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
  z-index: 9; }
  .header__container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 0; }
  .header__brand {
    display: block;
    max-height: 50px; }
  .header__menu {
    display: none;
    cursor: pointer; }
  .header .navigation__item, .header .dropdown__item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px; }
    .header .navigation__item:hover .dropdown, .header .dropdown__item:hover .dropdown {
      display: block; }
  .header .navigation__link, .header .dropdown__link {
    padding: 8px 14px;
    box-shadow: 2px 2px 2px rgba(21, 21, 21, 0);
    transition: .75s; }
    .header .navigation__link:hover, .header .dropdown__link:hover {
      background: #880028;
      color: #fff;
      box-shadow: 2px 2px 2px rgba(21, 21, 21, 0.25); }
  .header .dropdown {
    position: absolute;
    min-width: 250px;
    display: none;
    padding-top: 20px; }
    .header .dropdown__item {
      display: block;
      padding-top: 10px; }
    .header .dropdown__link {
      background: #fff;
      border: solid 1px rgba(21, 21, 21, 0.25);
      box-shadow: 2px 2px 2px rgba(21, 21, 21, 0.25); }

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 1;
  border-bottom: 4px solid #880028;
  padding: 0 40px; }
  .slider__item:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.33);
    z-index: -1; }

.slider__bg {
  height: 40vh;
  background-position: center; }

.slider .slider__title, .slider .slider__description {
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(21, 21, 21, 0.5); }

.slider__title {
  font-size: 48px; }

.slider__description {
  font-size: 24px; }

.btn {
  width: fit-content;
  max-width: 300px;
  margin-top: 20px;
  padding: 8px 24px;
  border: 2px solid #880028;
  box-shadow: 2px 2px 10px rgba(18, 18, 18, 0.25);
  color: #880028;
  font-size: .9rem;
  text-align: center;
  text-transform: uppercase;
  transition: 1s; }
  .btn:hover {
    background: #880028;
    color: #fff; }
  .btn-primary {
    background: #0066bb;
    border: 2px solid #0066bb;
    color: #fff;
    border-radius: 100px; }
    .btn-primary:hover {
      background: #fff;
      color: #0066bb; }

.wrapper {
  padding: 10vh 20px; }
  .wrapper__header {
    margin: 0 auto;
    max-width: 980px;
    text-align: center;
    margin-bottom: 10vh; }
  .wrapper__description {
    font-size: 16px; }

.heading {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400; }
  .heading:after {
    display: block;
    content: "";
    height: 2px;
    margin: 10px auto; }
  .heading--large {
    font-size: 28px; }
    .heading--large:after {
      background: #880028;
      width: 50px; }
  .heading--medium {
    font-size: 22px; }
    .heading--medium:after {
      background: linear-gradient(to right, rgba(21, 21, 21, 0), #151515, rgba(21, 21, 21, 0));
      max-width: 350px;
      width: 100%; }

.hotel__container {
  display: grid;
  grid-template-columns: 450px auto;
  grid-gap: 10vh; }

.hotel__title {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 300; }

.hotel__catchy {
  position: relative; }
  .hotel__catchy:before {
    content: '';
    z-index: -1;
    width: calc(100% + 10px);
    height: 10px;
    background: #ffdd33;
    position: absolute;
    left: -5px;
    bottom: 0; }

.hotel__text {
  line-height: 1.5em;
  font-size: 16px;
  font-weight: 300; }

.hotel__slider {
  max-width: 450px;
  height: 300px;
  display: flex;
  justify-content: center; }
  .hotel__slider:hover .hotel__item {
    max-width: 25px; }
    .hotel__slider:hover .hotel__item:hover {
      max-width: 400px; }

.hotel__item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  max-width: 150px;
  object-fit: cover;
  transition: 1s; }

.card__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vh; }

.card__item {
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }

.card__box {
  overflow: hidden;
  width: 100%;
  height: 30vh;
  max-height: 250px; }

.card__image {
  width: 100%;
  height: 30vh;
  max-height: 250px;
  object-fit: cover;
  transition: 1s; }

.card__block {
  text-align: center;
  padding: 15px; }

.card__description {
  font-size: 16px; }

.rooms .card__container {
  width: 100%; }

.rooms .card__description {
  font-size: 18px; }

.rooms .card .btn {
  max-width: 100%; }

.single-room {
  display: grid;
  grid-template-rows: repeat(1fr);
  grid-gap: 8vh 0;
  text-align: center;
  max-width: 1040px; }
  .single-room__equipment {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px; }
  .single-room__tile {
    max-width: 200px;
    width: 200px;
    display: block;
    margin: 20px; }
    .single-room__tile img {
      max-width: 64px;
      max-height: 64px; }

.attractions .card__container {
  grid-template-columns: repeat(3, 1fr); }

.features {
  padding-top: 0px; }
  .features .card__item {
    max-width: 425px; }

.promotion {
  background: linear-gradient(rgba(90, 0, 40, 0.5), rgba(90, 0, 40, 0.5)), url("../img/mayPromotion.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
  color: #fff; }
  .promotion__container {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
  .promotion__info {
    flex: 1 1 500px;
    max-width: 700px;
    text-shadow: 2px 2px 4px rgba(21, 21, 21, 0.5); }
  .promotion__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 200px;
    max-width: 200px; }
  .promotion__title {
    color: #ffdf00;
    margin-bottom: 10px; }
  .promotion__image {
    max-height: 125px;
    max-width: 125px; }

.timestamp .quote {
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  text-shadow: 0 0 2px rgba(21, 21, 21, 0.25); }
  .timestamp .quote .fa-quote-left {
    font-size: 36px; }
  .timestamp .quote__text {
    font-weight: 300;
    padding: 20px 0; }
  .timestamp .quote__author {
    font-weight: 400; }

.contact__container {
  display: flex;
  justify-content: space-between;
  max-width: 1040px; }

.contact__map {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  min-height: 300px;
  margin-right: 10vh;
  border: none;
  box-shadow: 0 0 5px rgba(21, 21, 21, 0.25); }

.contact__box {
  flex: 1 1 300px; }

.contact__item {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 14px;
  transition: 1s; }
  .contact__item:hover {
    color: #ffdd33; }
  .contact__item:hover .contact__icon {
    border-color: #ffdd33; }

.contact__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: dashed 2px #fff;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin-right: 10px;
  transition: 1s; }

.contact__text {
  min-width: 100px; }

.contact__title {
  text-transform: uppercase;
  font-weight: 600; }

.contact__info {
  display: block; }

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/hotel-map.jpeg");
  background-size: cover;
  background-position: center;
  color: #fff; }
  .footer__copyrights {
    margin: 0 auto;
    max-width: 1040px;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    padding: 2.5vh 20px;
    text-align: center;
    font-size: 14px; }

@media (max-width: 768px) {
  body {
    font-size: 16px; }
  .header__container {
    flex-direction: column;
    align-items: stretch; }
  .header__wrapper {
    flex: 1 1 100%; }
  .header__menu {
    display: block; }
  .header .navigation {
    display: none;
    position: static;
    flex: 1 1 100%; }
    .header .navigation__item, .header .dropdown__item {
      display: block;
      text-align: center;
      font-size: 18px;
      padding: 5px 0; }
  .header .dropdown {
    position: static;
    padding-top: 0; }
    .header .dropdown__link {
      border: none;
      border-bottom: solid 2px #880028;
      box-shadow: none; }
  .wrapper {
    padding: 50px 20px; }
  .card__container {
    grid-template-columns: repeat(1, 1fr); }
  .promotion__image {
    display: none; } }
