.owl-carousel .owl-nav {
	height: 0;
}

.owl-carousel .owl-nav .fas {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	margin: 0 8px;
	top: 50%;
	transform: translateY(-50%);
	text-shadow: 0 0 4px rgba(21, 21, 21, .5);
	color: $white;
	font-size: 28px;
}

.owl-carousel .owl-nav .fa-chevron-left {
	left: 0;
}

.owl-carousel .owl-nav .fa-chevron-right {
	right: 0;
}