.card {
    &__container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 425px));
        grid-gap: $padding/2;
        justify-content: center;

        &--xs {
            grid-template-columns: repeat(auto-fill, minmax(auto, 350px));
        }
    }

    &__item {
        height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    }

    &__box {
        overflow: hidden;
        width: 100%;
        height: 30vh;
        max-height: 250px;
    }

    &__image {
        width: 100%;
        height: 30vh;
        max-height: 250px;
        object-fit: cover;
        transition: 1s;
    }

    &__block {
        text-align: center;
        padding: 15px;
    }

    &__description {
        font-size: 16px;
    }
}

.rooms {
    .card {
        &__description {
            font-size: 18px;
        }

        .btn {
            max-width: 100%;
        }
    }
}

/*
.attractions {
    .card__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.special {
    .card__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.features {
    .card__container {
        max-width: 900px;
    }
}*/
