.footer {
    background:
        linear-gradient(rgba(0, 0, 0, .9),
            rgba(0, 0, 0, .9)),
        url('../img/hotel-map.jpeg');
    background-size: cover;
    background-position: center;
    color: $white;

    &__copyrights {
        margin: 0 auto;
        max-width: 1170px;
        border-top: solid 1px $white;
        padding: 10px;
        text-align: center;
        font-size: 14px;
    }
}

.contact {
    &__container {
        display: grid;
        grid-template-columns: 10fr 1fr;
        grid-gap: $padding/2;
    }

    &__map {
        height: 100%;
        min-height: 300px;
        border: none;
        box-shadow: 0 0 5px rgba(21, 21, 21, .25);
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: $padding/4;
    }
    
    &__item {
        display: grid;
        grid-template-columns: 1fr 10fr;
        grid-gap: 10px;
        align-items: center;
        font-size: 14px;
        transition: 1s;

        &:hover {
            color: $gold;
        }

        &:hover .contact__icon {
            border-color: $gold;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        border: dashed 2px $white;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        transition: 1s;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 600;
    }

    &__info {
        display: block;
    }
}