.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 80vh;
    max-height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    border-bottom: 4px solid #880028;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .25);
    }

    & > * {
        z-index: 1;
    }

    &__bg {
        height: 40vh;
        max-height: 400px;
    }

    %hero-info {
        padding: 5px 10px;
        color: $white;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(21, 21, 21, .5);
    }

    &__title {
        @extend %hero-info;
        font-size: 48px;
    }

    &__description {
        @extend %hero-info;
        font-size: 24px;
    }
}

.hotel {
    &__container {
        display: grid;
        grid-template-columns: 450px auto;
        grid-gap: 5vh;
    }

    &__title {
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: 300;
    }

    &__catchy {
        position: relative;

        &:before {
            content: '';
            z-index: -1;
            width: calc(100% + 10px);
            height: 10px;
            background: $gold;
            position: absolute;
            left: -5px;
            bottom: 0;
        }
    }

    &__text {
        line-height: 1.5em;
        font-size: 16px;
        font-weight: 300;
    }

    &__slider {
        display: flex;
        width: 100%;
        height: 300px;

        &:hover .hotel__item {
            flex: 1 1 5%;

            &:hover {
                flex: 1 1 90%;
            }
        }
    }

    &__item {
        flex: 1 1 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .25);
        transition: 1s;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.promotion {
    background:
        linear-gradient(rgba(90, 0, 40, .5),
            rgba(90, 0, 40, .5)),
        url('../img/mayPromotion.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    padding: ($padding - 25px) 20px;

    &__container {
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    &__info {
        flex: 1 1 500px;
        max-width: 800px;
        text-shadow: 2px 2px 4px $black;
    }

    &__cta {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 250px;
        max-width: 250px;
    }

    &__title {
        color: #ffdf00;
        margin-bottom: 10px;
        font-size: 24px;
    }

    &__description {
        font-size: 18px;
    }

    &__image {
        max-height: 125px;
        max-width: 125px;
    }
}

.timestamp {
    .quote {
        text-align: center;
        margin: 0 auto;
        max-width: 900px;
        width: 100%;
        font-size: 18px;

        .fa-quote-left {
            font-size: 36px;
        }

        &__text {
            padding: 20px 0;
        }

        &__author {
            font-weight: 600;
            color: #444;
            text-transform: uppercase;
        }
    }
}
