@media (max-width: 768px) {
    $padding: 50px;

    .wrapper {
        padding: $padding 20px;

        &-next {
            padding: 0 20px $padding;
        }

        &__header {
            margin-bottom: $padding;
        }
    }

    .header {
        &__container {
            flex-direction: column;
            align-items: stretch;
        }

        &__wrapper {
            flex: 1 1 100%;
        }

        &__menu {
            display: block;
        }

        .navigation {
            display: none;
            position: static;
            flex: 1 1 100%;

            &__item {
                display: block;
                text-align: center;
                font-size: 18px;
                padding: 5px 0;
            }
        }

        .dropdown {
            position: static;
            padding-top: 0;

            &__link {
                border: none;
                border-bottom: solid 2px #880028;
                box-shadow: none;
            }
        }
    }

    .card {
        &__container {
            grid-template-columns: 1fr;
        }
    }

    .hotel {
        &__container {
            grid-template-columns: 1fr;
        }
    }

    .promotion {
        text-align: center;
    }

    .contact {
        &__container {
            grid-template-columns: 1fr;
        }

        &__box {
            grid-template-columns: repeat(auto-fill, 200px);
        }

        &__item {
            grid-template-columns: 1fr;
            text-align: center;
        }

        &__icon {
            margin: 0 auto;
        }
    }
}
